ul {
  list-style: none;
}
.gallery-image {
  max-width: 360px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

body {
  padding: 24px 156px;
}

.image-background {
  background-color: rgba(46, 47, 66, 0.8);
}
